@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
h1{font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 56px;}
p{
    font-family: 'Open Sans', sans-serif;
}
.container{
    margin: 0 auto;
    width: 1200px;
}
@import "./blocks/blocks";
@import "./global.scss";
