header{
   margin: 0 auto;
    .header--hero{
        height: 48px;
        background-color: #EFF5FF;
       .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        div{display: flex;
            align-items: center; 
            img{ margin-top:10px;
                margin-left: 5px;
            width: 5px;
            height: 8px; }
        }

        p{ margin-top: 8px;
            margin-left: 10px;
            font-size: 13px;
            line-height: 24px;
            color: #747C8B;
        }
       
       }
        button{
            background-color: #3F6DD6;
            color: aliceblue;
            width: 60px;
            height: 30px;
            margin-top: 9px;
            border-radius: 25px;
            border: none;
        }  
        
            
        }
    }
    .header--nav{
        height: 72px;
        background-color: #ffff;
        .container{
            width: 1200px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header--nav__logo{
                width: 35%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    font-family:'open sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 16px;
                    letter-spacing: 1px;
                    color: #373633;}
            }
            .header--nav__address{width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                p{  font-family:'open sans';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 16px;
                    letter-spacing: 1px;
                    color: #373633;}
                button{
                    border-radius: 4px;
                    width: 80px;
                    height: 40px;
                    background:white;
                    color: #747C8B;
                    width: 112px;
                    height: 40px;
                    border: 1px solid #D7DDEA
                }
        }
    }
}